/*
    Document   : css/app.css
    Created on : 2015-06-22 05:45 PM
    Author     : ilewis33
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}