<div ng-controller="ngatViewController">
    <h2 ng-if="view.title">{{view.title}}</h2>
    <div ng-if="view.filters" ng-include="'ngat/html/directives/ngat-view-filters.html'"></div>
    <div ng-if="view.style=='card'" ng-include="'ngat/html/directives/ngat-view-card.html'"></div>
    <div ng-if="view.style=='table'" ng-include="'ngat/html/directives/ngat-view-table.html'"></div>
    <div ng-if="view.type=='detail'" ng-include="'ngat/html/directives/ngat-view-detail.html'"></div>
    <div ng-if="view.type=='list'" ng-include="'ngat/html/directives/ngat-view-detail-add.html'"></div>
</div>