<h4 ng-if="field.caption">{{objectField(field.name).display}}</h4>

<div ng-if="objectField(field.name).type == 'checkbox'">
    <input type="checkbox" 
           disabled 
           ng-model="thing[field.name]"> 
    <span ng-if="view.style != 'table'"> {{objectField(field.name).display}}</span>
</div>

<span ng-if="objectField(field.name).type == 'string' 
             || objectField(field.name).type == 'number' 
             || objectField(field.name).type == 'note'
             || objectField(field.name).type == 'picklist'" ng-class="field.class" class="maintain-line-height">
    <span ng-switch="!(field.detailLink === undefined)">
        <a ng-href="{{'#/NGAT/' + view.thing + '/' + thing.$id}}" ng-switch-when="true"><span class="angular-with-newlines">{{thing[field.name]}}</span></a>
        <span ng-switch-when="false" class="angular-with-newlines">{{thing[field.name]}}</span>
    </span>
</span>

<span ng-if="objectField(field.name).type == 'image' && thing[field.name]">
    <span ng-switch="!(field.detailLink === undefined)">
        <a ng-href="{{'#/NGAT/' + view.thing + '/' + thing.$id}}" ng-switch-when="true">
            <img ng-src="{{thing[field.name]}}"
                 height="{{defaultImageHeight}}" 
                 class="constrain100">
        </a>
        <span ng-switch-when="false" class="angular-with-newlines">
            <img ng-src="{{thing[field.name]}}"
                 height="{{defaultImageHeight}}" 
                 class="constrain100">
        </span>
    </span>
</span> 

<span class="hidden-print" ng-if="objectField(field.name).type == 'link' && thing[field.name].url">
    <a target="_blank" ng-href="{{thing[field.name].url}}">
        <span ng-bind-html="asHtml(thing[field.name].title)"></span> <i class="fa fa-external-link"></i>
    </a>
</span>

<span class="hidden-print" ng-if="objectField(field.name).type =='video' && thing[field.name]">
    <iframe width="{{defaultVideoWidth}}" height="{{defaultVideoHeight}}" 
            ng-src="{{youTubeEmbed(thing[field.name])}}" 
            frameborder="0" 
            class="constrain100"
            allowfullscreen>
    </iframe>
</span>