<div ng-hide="view.visible" class="ngat-space-bottom">
    <button  ng-click="toggleView()" class="btn btn-primary">
        <i class="fa fa-plus"></i> {{"Add " + thingDef.display}}
    </button>
</div>

<div ng-show="view.visible" class="well">
    <form>
        <div class="form-group" ng-repeat="field in view.fields">
            <label>{{objectField(field.name).display}}</label>
            <ngat-input></ngat-input>
        </div>
        
        <button class="btn btn-default" ng-click="toggleView()">
            <i class="fa fa-times-circle"></i> Cancel
        </button>
        <button ng-click="addThing(false)" class="btn btn-success">
            <i class="fa fa-check"></i> Save
        </button>
        <button ng-click="addThing(true)" class="btn btn-success">
            <i class="fa fa-plus"></i> Save and Add Another
        </button>
    </form>
</div>