<!-- show form -->
<div ng-hide="updateMode">
    <div class="ngat-space-bottom">
         <a ng-href="{{'#/' + view.thing + 's'}}" class="btn btn-default">
            <i class="fa fa-caret-left"></i> Back
         </a>
         <button ng-click="setUpdateMode(true)" class="btn btn-primary hidden-print">
            <i class="fa fa-pencil"></i> Edit
        </button>
     </div>
    
    <div class="well">
        <div ng-repeat="field in view.fields">
            <ngat-field></ngat-field>
        </div>
    </div>
    
    <div class="ngat-space-bottom">
         <a ng-href="{{'#/' + view.thing + 's'}}" class="btn btn-default">
            <i class="fa fa-caret-left"></i> Back
         </a>
         <button ng-click="setUpdateMode(true)" class="btn btn-primary hidden-print">
            <i class="fa fa-pencil"></i> Edit
        </button>
         <button ng-click="removeThingFromDetail()" class="btn btn-default hidden-print float-right">
            <i class="fa fa-times-circle"></i> Delete
        </button>
     </div>
</div>

<!-- update form -->
<div ng-show="updateMode">
    <form>
        
        <div class="ngat-space-bottom">
            <button class="btn btn-default" ng-if="view.cancelButton" ng-click="setUpdateMode(false)">
                <i class="fa fa-times-circle"></i> Cancel
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i> {{view.confirmButton.title}}
            </button>
        </div>
        
        <div class="well">
            <div class="form-group" ng-repeat="field in view.fields">
                <label>{{objectField(field.name).display}}</label>
                <ngat-input></ngat-input>
            </div>            
        </div>

        <div class="ngat-space-bottom">
            <button class="btn btn-default" ng-if="view.cancelButton" ng-click="setUpdateMode(false)">
                <i class="fa fa-times-circle"></i> Cancel
            </button>
            <button ng-click="updateThing()" class="btn btn-success">
                <i class="fa fa-check"></i> {{view.confirmButton.title}}
            </button>             
        </div>
        
    </form>
</div>