
.angular-with-newlines {
    white-space: pre-wrap;
}

.constrain100 {
    max-width: 100%;
}

.card-view-card {
    text-align: left;
}

.maintain-line-height {
    line-height: 1.428;
}

.ngat-space-top {
    margin-top: 10px;
}

.ngat-space-bottom {
    margin-bottom: 20px;
}